/*Estaria bueno que las checkboxes tengan estos colores*/

.green-checkbox:checked {
  border-color: #6BE3A3;
}

.green-checkbox:focus {
  outline: none; 
  box-shadow: 0 0 0 1px #6BE3A3; 
}

/* If there are pseudo elements like ::before or ::after for custom checkboxes */
.green-checkbox:checked::before,
.green-checkbox:checked::after {
  background-color: #6BE3A3;
  border-color: #6BE3A3;
}
