.welcome-body {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 1px;
  position: relative;
}

.welcome-text {
  color: #060606;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 200;
  overflow: hidden; /* Hides the text until it "types" out */
  white-space: nowrap; /* Ensures the text stays in one line */
  max-width: 0; /* Start with no max-width */
  display: inline-block; /* Allows the text to be centered */
  animation: typing 4s forwards;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

.full-name-text {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 400;
  opacity: 0; /* Start as invisible */
  animation: fadeIn 1s ease-out 1.5s forwards; /* Adjust duration and delay as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome-buttons-container {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 30px;
  min-height: 50px;
  align-items: center;
}


.welcome-calendar-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Media queries*/

@media screen and (min-width: 780px) {

  .welcome-buttons-container {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 30px;
    min-height: 50px;
    align-items: center;
  }
  

  .welcome-text-container {
    margin-top: 0%;
  }

  .welcome-text {
    animation: typing 4s forwards; /* Slower duration for desktop screens */
  }

  /* Add other styles for elements you want to modify for larger screens */
}