@media (max-width: 769px) {
  .table-container {
    padding-bottom: 25%;
  }
}

.delete-modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-modal-open {
  display: flex;
  justify-content: center;
  align-items: center;
}

